/*

Navigation

*/

/* ---------- Component */

:host,
.navigation {
  display: block;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 24px;
}

/* ---------- Elements */

.navigation__controls {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;

  > * {
    flex: 1;
  }

  .button {
    margin-bottom: -1px;
    margin-left: -1px;
  }
}

.navigation__control__long-name {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
  }
}

.navigation__control__short-name {

  @media screen and (min-width: 768px) {
    display: none;
  }
}
