<div class="ship__header">
  <div class="ship__header__name">{{ ship.name }} - {{ ship.pilot }} ({{ ship.cost }})</div>
  <div class="ship__header__toolbar">
    <button class="button" *ngIf="!ship.unique" (click)="duplicateShip(squad, index)">Copy</button>
    <button class="button button--danger" (click)="removeShip(squad, index)">Remove</button>
  </div>
</div>
<div class="ship__body">
  <!-- Talent -->
  <div class="ship__body__upgrade" *ngIf="ship.talent !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.talent" #talent="ngModel" (change)="changeUpgrade(talent)">
      <option value="" disabled selected hidden>Talent</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Talent'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.talent) }}</div>
  </div>
  <!-- Sensor -->
  <div class="ship__body__upgrade" *ngIf="ship.sensor !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.sensor" #sensor="ngModel" (change)="changeUpgrade(sensor)">
      <option value="" disabled selected hidden>Sensor</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Sensor'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.sensor) }}</div>
  </div>
  <!-- Cannon 1 -->
  <div class="ship__body__upgrade" *ngIf="ship.cannon1 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.cannon1" #cannon1="ngModel" (change)="changeUpgrade(cannon1)">
      <option value="" disabled selected hidden>Cannon</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Cannon'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.cannon1) }}</div>
  </div>
  <!-- Cannon 2 -->
  <div class="ship__body__upgrade" *ngIf="ship.cannon2 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.cannon2" #cannon2="ngModel" (change)="changeUpgrade(cannon2)">
      <option value="" disabled selected hidden>Cannon</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Cannon'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.cannon2) }}</div>
  </div>
  <!-- Torpedo 1 -->
  <div class="ship__body__upgrade" *ngIf="ship.torpedo1 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.torpedo1" #torpedo1="ngModel" (change)="changeUpgrade(torpedo1)">
      <option value="" disabled selected hidden>Torpedo</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Torpedo'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.torpedo1) }}</div>
  </div>
  <!-- Modifaction 1 -->
  <div class="ship__body__upgrade" *ngIf="ship.modification1 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.modification1" #modification1="ngModel" (change)="changeUpgrade(modification1)">
      <option value="" disabled selected hidden>Modification</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Modification'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.modification1) }}</div>
  </div>
  <!-- Modifaction 2 -->
  <div class="ship__body__upgrade" *ngIf="ship.modification2 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.modification2" #modification2="ngModel" (change)="changeUpgrade(modification2)">
      <option value="" disabled selected hidden>Modification</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Modification'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.modification2) }}</div>
  </div>
  <!-- Modifaction 3 -->
  <div class="ship__body__upgrade" *ngIf="ship.modification3 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.modification3" #modification3="ngModel" (change)="changeUpgrade(modification3)">
      <option value="" disabled selected hidden>Modification</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Modification'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.modification3) }}</div>
  </div>
  <!-- Crew 1 -->
  <div class="ship__body__upgrade" *ngIf="ship.crew1 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.crew1" #crew1="ngModel" (change)="changeUpgrade(crew1)">
      <option value="" disabled selected hidden>Crew</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Crew'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.crew1) }}</div>
  </div>
  <!-- Crew 2 -->
  <div class="ship__body__upgrade" *ngIf="ship.crew2 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.crew2" #crew2="ngModel" (change)="changeUpgrade(crew2)">
      <option value="" disabled selected hidden>Crew</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Crew'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.crew2) }}</div>
  </div>
  <!-- Crew 3 -->
  <div class="ship__body__upgrade" *ngIf="ship.crew3 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.crew3" #crew3="ngModel" (change)="changeUpgrade(crew3)">
      <option value="" disabled selected hidden>Crew</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Crew'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.crew3) }}</div>
  </div>
  <!-- Gunner 1 -->
  <div class="ship__body__upgrade" *ngIf="ship.gunner1 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.gunner1" #gunner1="ngModel" (change)="changeUpgrade(gunner1)">
      <option value="" disabled selected hidden>Gunner</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Gunner'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.gunner1) }}</div>
  </div>
  <!-- Astromech -->
  <div class="ship__body__upgrade" *ngIf="ship.astromech !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.astromech" #astromech="ngModel" (change)="changeUpgrade(astromech)">
      <option value="" disabled selected hidden>Astromech</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Astromech'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.astromech) }}</div>
  </div>
  <!-- Force -->
  <div class="ship__body__upgrade" *ngIf="ship.force !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.force" #force="ngModel" (change)="changeUpgrade(force)">
      <option value="" disabled selected hidden>Force</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Force'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.force) }}</div>
  </div>
  <!-- Turret -->
  <div class="ship__body__upgrade" *ngIf="ship.turret !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.turret" #turret="ngModel" (change)="changeUpgrade(turret)">
      <option value="" disabled selected hidden>Turret</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Turret'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.turret) }}</div>
  </div>
  <!-- Title -->
  <div class="ship__body__upgrade" *ngIf="ship.title !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.title" #title="ngModel" (change)="changeUpgrade(title)">
      <option value="" disabled selected hidden>Title</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Title'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.title) }}</div>
  </div>
  <!-- Device 1 -->
  <div class="ship__body__upgrade" *ngIf="ship.device1 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.device1" #device1="ngModel" (change)="changeUpgrade(device1)">
      <option value="" disabled selected hidden>Device</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Device'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.device1) }}</div>
  </div>
  <!-- Device 2 -->
  <div class="ship__body__upgrade" *ngIf="ship.device2 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.device2" #device2="ngModel" (change)="changeUpgrade(device2)">
      <option value="" disabled selected hidden>Device</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Device'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.device2) }}</div>
  </div>
  <!-- Missile 1 -->
  <div class="ship__body__upgrade" *ngIf="ship.missile1 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.missile1" #missile1="ngModel" (change)="changeUpgrade(missile1)">
      <option value="" disabled selected hidden>Missile</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Missile'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.missile1) }}</div>
  </div>
  <!-- Missile 2 -->
  <div class="ship__body__upgrade" *ngIf="ship.missile2 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.missile2" #missile2="ngModel" (change)="changeUpgrade(missile2)">
      <option value="" disabled selected hidden>Missile</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Missile'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.missile2) }}</div>
  </div>
  <!-- Configuration -->
  <div class="ship__body__upgrade" *ngIf="ship.configuration !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.configuration" #configuration="ngModel" (change)="changeUpgrade(configuration)">
      <option value="" disabled selected hidden>Configuration</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Configuration'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.configuration) }}</div>
  </div>
  <!-- Illicit 1 -->
  <div class="ship__body__upgrade" *ngIf="ship.illicit1 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.illicit1" #illicit1="ngModel" (change)="changeUpgrade(illicit1)">
      <option value="" disabled selected hidden>Illicit</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Illicit'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.illicit1) }}</div>
  </div>
  <!-- Illicit 2 -->
  <div class="ship__body__upgrade" *ngIf="ship.illicit2 !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.illicit2" #illicit2="ngModel" (change)="changeUpgrade(illicit2)">
      <option value="" disabled selected hidden>Illicit</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Illicit'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.illicit2) }}</div>
  </div>
  <!-- Tech -->
  <div class="ship__body__upgrade" *ngIf="ship.tech !== undefined">
    <select class="ship__body__upgrade__control" [(ngModel)]="ship.tech" #tech="ngModel" (change)="changeUpgrade(tech)">
      <option value="" disabled selected hidden>Tech</option>
      <option value="">None</option>
      <option *ngFor="let upgrade of upgrades | forUpgrade: 'Tech'" [ngValue]="upgrade.name">
        <span *ngIf="upgrade.unique">*</span>{{ upgrade.name }} ({{ upgrade.cost }})</option>
    </select>
    <div class="ship__body__upgrade__details" *ngIf="showAbilities">{{ getUpgradeByName(upgrades,ship.tech) }}</div>
  </div>
</div>
<div class="ship__footer" *ngIf="ship.pilotAbility != '' && showAbilities">{{ ship.pilotAbility }}</div>
<div class="ship__footer" *ngIf="ship.shipAbility != '' && showAbilities">{{ ship.shipAbility }}</div>
