.card{
  width: 100%;
}

.upgrade.card {
  margin-top: 5px;
}

.card-body .row .col-4 {
  margin-bottom: 5px;
}

.upgrade.card .card-body {
  padding: 0.5rem;
}

.ship-ability, .pilot-ability {
  margin-top: 5px;
}
