/*

Ship Search

*/

/* ---------- Component */

:host,
.ship-search {
  max-width: 1280px;
  margin: 24px auto;
  display: block;
  padding: 0 12px;
}

/* ---------- Elements */

.ship-search__control {
  min-width: 200px;
  max-width: 1115px;
}

.ship-search__show-all {
  min-width: 135px;
  margin: 12px auto;
}

.ship-search__results {
  max-height: 480px;
  overflow-y: auto;

  &:not(:empty) {
    border: 1px solid #CCCCCC;
    margin-top: -1px;
  }
}

.ship-search__result {
  display: flex;
  cursor: pointer;

  > * {
    flex: 1;
    padding: 12px;
  }

  > *:last-child {
    flex: none;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #CCCCCC;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &,
  &:hover {
    transition: background 0.15s;
  }
}

.ship-search__result__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.ship-search__result__ability {
  font-size: 16px;
  line-height: 20px;
}

.ship-search__result__ability--ship {
  opacity: 0.5;
}

.ship-search__result__ability--pilot {}
