<ngb-tabset>
  <ngb-tab title="Rebel Alliance">
    <ng-template ngbTabContent>
      <div class="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for ship or pilot..." [(ngModel)]="searchValue">
        </div>
        <div class="list-group">
          <li *ngFor="let rebel of rebelShips | searchFilter: searchValue" (click)="addShip(rebelSquad, rebel)" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5>{{rebel.name}} - {{rebel.pilot}}</h5>
              <small>{{rebel.cost}}</small>
            </div>
            <p>{{rebel.pilotAbility}}</p>
            <small>{{rebel.shipAbility}}</small>
          </li>
        </div>
      </div>
      <div class="controls">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-1">
            <div>Points: {{ squadPoints(rebelShips, rebelUpgrades, rebelSquad) }}</div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-11">
            <div class="btn-group" role="group">
              <button id="hide-abilities" class="button" class="btn btn-primary" (click)="toggleShowAbilities()"><span *ngIf="showAbilities">Hide</span><span *ngIf="!showAbilities">Show</span> Abilities</button>
              <button id="export-link" class="button" class="btn btn-primary" (click)="createExportLink('Rebels', rebelSquad)">Export Link</button>
            </div>
          </div>
        </div>
      </div>
      <div class="export-link container">
        <div class="alert alert-success" *ngIf="showLink">
          <div style="word-break: break-all">
            {{rebelSquadLink}}</div>
        </div>
      </div>
      <div class="ships">
        <div class="ship">
          <div class="row" *ngFor="let rebel of rebelSquad; index as i">
            <app-ship
              [index]="i"
              [points]="rebelPoints"
              [ship]="rebel"
              [ships]="rebelShips"
              [showAbilities]="showAbilities"
              [squad]="rebelSquad"
              [upgrades]="rebelUpgrades"
              (updatePoints)="squadPoints(rebelShips, rebelUpgrades, rebelSquad)">
            </app-ship>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Galactic Empire">
    <ng-template ngbTabContent>
      <div class="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for ship or pilot..." [(ngModel)]="searchValue">
        </div>
        <div class="list-group">
          <li *ngFor="let imperial of imperialShips | searchFilter: searchValue" (click)="addShip(imperialSquad, imperial)" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5>{{imperial.name}} - {{imperial.pilot}}</h5>
              <small>{{imperial.cost}}</small>
            </div>
            <p>{{imperial.pilotAbility}}</p>
            <small>{{imperial.shipAbility}}</small>
          </li>
        </div>
      </div>
      <div class="controls">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-1">
            <div>Points: {{ squadPoints(imperialShips, imperialUpgrades, imperialSquad) }}</div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-11">
            <div class="btn-group" role="group">
              <button class="hide-abilities button" class="btn btn-primary" (click)="toggleShowAbilities()"><span *ngIf="showAbilities">Hide</span><span *ngIf="!showAbilities">Show</span> Abilities</button>
              <button class="export-link button" class="btn btn-primary" (click)="createExportLink('Imperial', imperialSquad)">Export Link</button>
            </div>
          </div>
        </div>
      </div>
      <div class="export-link container">
        <div class="alert alert-success" *ngIf="showLink">
          <div style="word-break: break-all">
            {{imperialSquadLink}}</div>
        </div>
      </div>
      <div class="ships">
        <div class="ship">
          <div class="row" *ngFor="let imperial of imperialSquad; index as i">
            <app-ship
              [index]="i"
              [points]="imperialPoints"
              [ship]="imperial"
              [ships]="imperialShips"
              [showAbilities]="showAbilities"
              [squad]="imperialSquad"
              [upgrades]="imperialUpgrades"
              (updatePoints)="squadPoints(imperialShips, imperialUpgrades, imperialSquad)">
            </app-ship>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Scum and Villainy">
    <ng-template ngbTabContent>
      <div class="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for ship or pilot..." [(ngModel)]="searchValue">
        </div>
        <div class="list-group">
          <li *ngFor="let scum of scumShips | searchFilter: searchValue" (click)="addShip(scumSquad, scum)" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5>{{scum.name}} - {{scum.pilot}}</h5>
              <small>{{scum.cost}}</small>
            </div>
            <p>{{scum.pilotAbility}}</p>
            <small>{{scum.shipAbility}}</small>
          </li>
        </div>
      </div>
      <div class="controls">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-1">
            <div>Points: {{ squadPoints(scumShips, scumUpgrades, scumSquad) }}</div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-11">
            <div class="btn-group" role="group">
              <button class="hide-abilities button" class="btn btn-primary" (click)="toggleShowAbilities()"><span *ngIf="showAbilities">Hide</span><span *ngIf="!showAbilities">Show</span> Abilities</button>
              <button class="export-link button" class="btn btn-primary" (click)="createExportLink('Scum', scumSquad)">Export Link</button>
            </div>
          </div>
        </div>
      </div>
      <div class="export-link container">
        <div class="alert alert-success" *ngIf="showLink">
          <div style="word-break: break-all">
            {{scumSquadLink}}</div>
        </div>
      </div>
      <div class="ships">
        <div class="ship">
          <div class="row" *ngFor="let scum of scumSquad; index as i">
            <app-ship
              [index]="i"
              [points]="scumPoints"
              [ship]="scum"
              [ships]="scumShips"
              [showAbilities]="showAbilities"
              [squad]="scumSquad"
              [upgrades]="scumUpgrades"
              (updatePoints)="squadPoints(scumShips, scumUpgrades, scumSquad)">
            </app-ship>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
