.rebel-controls {
  width: 100%;
  margin-top: 5px;
}

.rebel-controls .btn {
  margin-right: 5px;
}

.rebel-ships {
  width: 100%;
}

.rebel-ships .ship-ability, .rebel-ships .pilot-ability {
  margin-top: 5px;
}

.rebel-ships .row {
  margin-top: 10px;
}
