<ngb-tabset>
  <ngb-tab title="Rebel Alliance">
    <ng-template ngbTabContent>
      <div id="rebel-search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for ship or pilot..." [(ngModel)]="searchValue">
        </div>
        <div class="list-group">
          <li *ngFor="let rebel of rebelShips | searchFilter: searchValue" (click)="addShip(rebelSquad, rebel)" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5>{{rebel.name}} - {{rebel.pilot}}</h5>
              <small>{{rebel.cost}}</small>
            </div>
            <p>{{rebel.pilotAbility}}</p>
            <small>{{rebel.shipAbility}}</small>
          </li>
        </div>
      </div>
      <div class="rebel-controls">
        <div class="row">
          <div class="col-6">
            <div>Points: {{ squadPoints(rebelShips, rebelUpgrades, rebelSquad) }}</div>
          </div>
          <div class="col-6">
            <button id="rebel-hide-abilities" class="button" class="btn btn-primary" (click)="toggleShowAbilities()"><span *ngIf="showAbilities">Hide</span><span *ngIf="!showAbilities">Show</span> Abilities</button>
            <button id="rebel-export-link" class="button" class="btn btn-primary">Export Link</button>
          </div>
        </div>
      </div>
      <div class="rebel-ships">
        <div class="ship">
          <div class="row" *ngFor="let rebel of rebelSquad; index as i">
            <app-ship
              [index]="i"
              [points]="rebelPoints"
              [ship]="rebel"
              [ships]="rebelShips"
              [showAbilities]="showAbilities"
              [squad]="rebelSquad"
              [upgrades]="rebelUpgrades"
              (updatePoints)="squadPoints(rebelShips, rebelUpgrades, rebelSquad)">
            </app-ship>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Galactic Empire">
    <ng-template ngbTabContent>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Scum and Villainy">
    <ng-template ngbTabContent>

    </ng-template>
  </ngb-tab>
</ngb-tabset>
