<div class="navigation__controls">
  <button class="navigation__control" (click)="setActive(1)" [class.is-active]="index === 1"><span class="navigation__control__long-name">Rebel Alliance</span><span class="navigation__control__short-name">Rebels</span></button>
  <button class="navigation__control" (click)="setActive(2)" [class.is-active]="index === 2"><span class="navigation__control__long-name">Galactic Empire</span><span class="navigation__control__short-name">Imperials</span></button>
  <button class="navigation__control" (click)="setActive(3)" [class.is-active]="index === 3"><span class="navigation__control__long-name">Scum and Villainy</span><span class="navigation__control__short-name">Scum</span></button>
</div>
