<app-ship-search [ships]="ships" (selectedShip)="addShip($event)"></app-ship-search>
<div class="squad__meta">
  <div class="squad__meta__details">
    <div class="squad__meta__faction">{{ faction }} squadron</div>
    <div class="squad__meta__points">
      Points <span class="squad__meta__points__total">{{ squadPoints(ships, upgrades, squad) }}</span>
    </div>
  </div>
  <div class="squad__meta__controls">
    <button class="button" (click)="toggleShowAbilities()"><span *ngIf="showAbilities">Hide</span><span *ngIf="!showAbilities">Show</span> Abilities</button>
    <button class="button"(click)="createExportLink()">Export</button>
    <!-- <button class="button"(click)="viewSquad()">View</button> -->
  </div>
</div>
<div class="container">
  <app-alert *ngIf="showLink">{{ squadLink }}</app-alert>
</div>
<app-ship *ngFor="let ship of squad; index as i"
  [index]="i"
  [ship]="ship"
  [showAbilities]="showAbilities"
  [squad]="squad"
  [upgrades]="upgrades">
</app-ship>
