/*

Squad

TODO: Squad Toolbar Component + Squad Points

*/

.squad__toolbar {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;

  .button {
    flex: 1;

    + .button {
      margin-left: -1px;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: flex-end;

    .button {
      flex: none;
    }
  }
}

.squad__meta {
  max-width: 1280px;
  margin: 12px auto;
  padding: 0 12px;
}

.squad__meta__points {
  margin: 12px auto;
}

.squad__meta__points__total {
  font-weight: bold;
}

.squad__meta__faction {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
}
