/*

Squad

TODO: Squad Toolbar Component + Squad Points

*/

.squad__meta__controls {
  display: flex;

  .button {
    flex: 1;

    + .button {
      margin-left: 6px;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: flex-end;

    .button {
      flex: none;
    }
  }
}

.squad__meta {
  max-width: 1280px;
  margin: 24px auto;
  padding: 0 12px;

  @media screen and (min-width: 768px) {
    display: flex;

    > * {
      flex: 1;

      &:last-child {
        flex: none;
      }
    }

    .squad__meta__details,
    .squad__meta__controls {
      margin: 0;
    }
  }
}

.squad__meta__details,
.squad__meta__controls {
  margin: 24px auto;
}

.squad__meta__points {
  margin-top: 2px;
}

.squad__meta__points__total {
  font-weight: bold;
}

.squad__meta__faction {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
}
